<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.iamporag.wallpaper_setter">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.wallpaper_setter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
